@media only screen and (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    background-image: url('../images/45-degree-fabric-light.png');
    height: 400px;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: flex-start;
    width: 30%;
  }
}